<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
    }

    .answers {
        display: flex;
        justify-content: space-between;
        width: 350px;
    }

    .value {
        padding: 10px;
        background-color: #8257e6;
        color: #FFF;
        border-radius: 6px;
        width: 15px;
        text-align: center;
        text-decoration: none;
        margin: 6px;
    }

    .level {
        display:
            flex;
        margin: 10px;
        justify-content: space-between;
        width: 350px;
    }
</style>

<div class="container">
    <label>Olá <strong>{{username}}</strong>! Tudo bem? </label>

    <h3>{{title}}</h3>
    <br />
    <strong>{{description}}</strong>

    <div class="level">
        <span>Pouco Provável</span>
        <span>Muito Provável</span>
    </div>

    <div class="answers">
        <a href="{{link}}/1?u={{userId}}" class="value">1</a>
        <a href="{{link}}/2?u={{userId}}" class="value">2</a>
        <a href="{{link}}/3?u={{userId}}" class="value">3</a>
        <a href="{{link}}/4?u={{userId}}" class="value">4</a>
        <a href="{{link}}/5?u={{userId}}" class="value">5</a>
        <a href="{{link}}/6?u={{userId}}" class="value">6</a>
        <a href="{{link}}/7?u={{userId}}" class="value">7</a>
        <a href="{{link}}/8?u={{userId}}" class="value">8</a>
        <a href="{{link}}/9?u={{userId}}" class="value">9</a>
        <a href="{{link}}/10?u={{userId}}" class="value">10</a>
    </div>
    <br />
    <br />
    <strong>Sua opiniao é muito importante para nós</strong>
    <h3>Equipe JOBSEA</h3>
</div>